<strong>Ola, {{ student_name }}</strong>
<p>
  Você possuí uma nova resposta referente a sua pergunta.
</p>
<ul>
  <li><strong>Sua pergunta:</strong> <br /> {{ question }}</li>
  <li><strong>Resposta:</strong> <br /> {{ answer }}</li>

</ul>
<p>
  Lembre-se: Caso você precise alterar seu plano após o inicio dos treinos
  procure nos procure na recepção para verificar-mos a disponibilidade de horário.
</p>
